body {
  margin: 2px;
}
.navigation {
  display: flex;
  margin: 2px;
  margin-left: 12px;
  flex-direction: row;
  text-decoration: none;
  height: 40px;
  align-items: center;
  gap: 1100px;
  border: 1px solid white;
  border-bottom: 1px solid white;
  color:black;
}
.navigation ul {
  text-align: center;
}
.navcontent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

a{
    text-decoration: none;
    color: black;
}
.navigation button{
    padding: 8px;
    color: skyblue;
    border: 1px solid skyblue;
    background-color: white;
}
.container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: #18b9ec;
    padding: 20px;
    color: white;

}
.content{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content button{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: white;
}
.mainclasscont div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.cardcontainer{
    display: flex;
    flex-wrap: wrap;
    width: 1300px;
    height: auto;
    margin-left: 120px;
}
.card-body{
    margin: 10px;
    width: 400px;
    height: 400px;
    box-shadow: 1px 1px 1px 1px grey;
    padding-bottom: 12px;
    background-color: #18b9ec;

}

.imagecontainer {
    width: 400px;
    height: 144px;
    background-color: gray;
    text-align: center;
}
.cardinfo{
    padding: 20px;
    padding-left: 8px;
    word-spacing: 0%;
}

.cardinfo button{
background-color: white;
color: grey;
border: 1px solid grey;
border-radius: 2px;
width: 44px;
height: 30px;
}

#mytext{
    width:fit-content ;
    height: 100px;
    color: black;
    overflow: scroll;
}